/* Font ================================================ */
@font-face {
  font-family : 'abd-regular';
  src: url("./font/abd-regular.woff") format('woff')
}


/* Font: align ================================================ */
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}


/* Font: body text ================================================ */
.font-body {
  font-family: 'abd-regular';
  font-size: 48px;
  color: #ffffff;
}


/* Font: selfy title ================================================ */
.font-selfy {
  font-family: 'abd-regular';
  font-size: 64px;
  color: #ffffff;
}
