/* Variable ================================================ */
:root {
  /* --scrollbar-width: 20px; */
  --col1-width: 40px;
  /* --col2-1-width: 300px;
  --col3-width: 240px;
  --col4-width: 140px; */
}

/* Layout ================================================ */
html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  /* background-image: url(".data/01.jpeg");
  background-repeat: repeat; */
  /* overflow-y: hidden; */
}

/* Layout: Col 1 ================================================ */
#col1 {
    float: left;
    width: var(--col1-width);
    height: 100%;
    position: fixed;
    top:0;
    left:0;
    margin: 0;
    /* padding: 10px 0 0 10px; */
    overflow-y: auto;
    /* background: blue; */
}


/* Layout: Col 2 ================================================ */
#col2 {
    display: flex;
    float: left;
    flex-wrap: wrap;
    flex-direction: row;
    /* max-width: calc(100% - 450px); */
    /* max-width: calc(80% - var(--col1-width) - var(--col3-width) - var(--col4-width) - var(--scrollbar-width)); */
    width: calc(50% - var(--col1-width));
    height: 100%;
    margin-left: calc(var(--col1-width));
    margin-right: 0px;
    padding: 0;
    /* background: red; */
    z-index: -3;
      /* overflow-y: auto; */
}


/* P5js ================================================ */
canvas {
  display: block;
  position: fixed;
  /* position: absolute; */
  /* margin-top: 100px; */
  top: 0;
  right: 0;
  /* transform: translate(-50%, 0); */
  /* transform: matrix(1, 2, 3, 4, 5, 6); */
}


#canvas-bg {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  z-index: -2;
  background-color: yellow;
  /* background-image: url('.data/text_HELLO_dot.png');
  background-repeat: repeat-x; */
  /* background: url(".data/01.svg") repeat-x; */
}



/* X ================================================ */

input {
  display: block;
}


.invert {
  /* z-index: 5; */
  /* filter: invert(100%); */
  /* mix-blend-mode: multiply; */
  mix-blend-mode: difference;
  /* mix-blend-mode: exclusion; */
  /* color: black; */
}
